/home/dongryeol/24-2_DS_assignment/Week04_assignment/VAE/data
/home/dongryeol/24-2_DS_assignment/Week04_assignment/VAE/improved_generated_images
/home/dongryeol/24-2_DS_assignment/Week04_assignment/VAE/original_generated_images
/home/dongryeol/24-2_DS_assignment/Week04_assignment/VAE/saved_models


/home/dongryeol/24-2_DS_assignment/Week04_assignment/GAN/dataset
/home/dongryeol/24-2_DS_assignment/Week04_assignment/GAN/improved_generated_image
/home/dongryeol/24-2_DS_assignment/Week04_assignment/GAN/original_generated_image
/home/dongryeol/24-2_DS_assignment/Week04_assignment/GAN/runs
